@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// VARIABLES

$red-color : #E52B2B;
$light : #fff;
$dark : #000;

// VARIABLES

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $light;
  font-family: "Montserrat", sans-serif;
  color : $red-color;
  margin-bottom: 100px;

  header {
    background: $red-color;
    font-weight: 700;
    font-size: 32px;
    padding: 35px 0px 35px 0px;
    display: flex;
    justify-content: space-around;
    .header-link {
      a {
        text-decoration: none;
        color: $light;
        position: relative;
        &:hover {
          color: $dark;
          transition: 0.5s;
          &:after {
          content: '';
           position: absolute;
           height: 2px;
           bottom: -4px;
           margin: 0 auto;
           left: 0;
           right: 0;
           width: 50%;
           background: $light;
          }
        }
      }
    }
  }

  h1 {
    color : $red-color;
    text-align: center;
    margin: 50px 0px 0px 0px;
    font-size: 2.2em;
  }

  .pokemons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    .astuce {
      h2 {
        &:after {
          content : " #" counter(astuce)

        }
      }

      background-color: $light;
      border: 2px solid $red-color;
      position: relative;
      padding: 24px;
      padding-left: 180px;
      margin: 24px;
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      border-radius: 10px;
      overflow: hidden;
      counter-increment: astuce;
      &:hover {
        cursor: pointer;
      }

      &:before {
        background-color: $red-color;
        color: $light;
        height: 100%;
        position: absolute;
        top : 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          -webkit-transition: all 3s;
          transition: all 3s;
        }
      }
    }

    .gift-1 {
       &:before {
         content : url("./images/egg.svg");
       }
      &:hover {
        h2 {
          &:after {
            content : " #" counter(astuce) " - Miaouss"
          }
        }
        // &:before {
        //   content : url("./images/miaouss.svg");
        // }
      }
    }

    .gift-2 {
      &:before {
        content : url("./images/hyperball.svg");
      }
      &:hover {
        h2 {
          &:after {
            content : " #" counter(astuce) " - Draco"
          }
        }
        &:before {
          content : url("./images/minidraco.svg");
        }
      }
    }

    .gift-3 {
      &:before {
        content : url("./images/masterball.svg");
      }
      &:hover {
        h2 {
          &:after {
            content : " #" counter(astuce) " - Electhor"
          }
        }
        &:before {
          content : url("./images/electhor.svg");
        }
      }
    }

    .gift-4 {
      &:before {
        content : url("./images/hyperball.svg");
      }
      &:hover {
        h2 {
          &:after {
            content : " #" counter(astuce) " - Salamèche"
          }
        }
        &:before {
          content : url("./images/salameche.svg");
        }
      }
    }

    .gift-5 {
      &:before {
        content : url("./images/pokeball.svg");
      }
      &:hover {
        h2 {
          &:after {
            content : " #" counter(astuce) " - Pikachu"
          }
        }
        &:before {
          content : url("./images/pikachu.svg");
        }
      }
    }

    .gift-6 {
      &:before {
        content : url("./images/pokeball.svg");
      }
      &:hover {
        h2 {
          &:after {
            content : " #" counter(astuce) " - Mimitoss"
          }
        }
        &:before {
          content : url("./images/mimitoss.svg");
        }
      }
    }

    .gift-7 {
      &:before {
        content : url("./images/masterball.svg");
      }
      &:hover {
        h2 {
          &:after {
            content : " #" counter(astuce) " - Nosferapti"
          }
        }
        &:before {
          content : url("./images/nosferapti.svg");
        }
      }
    }

    .gift-8 {
      &:before {
        content : url("./images/pokeball.svg");
      }
      &:hover {
        h2 {
          &:after {
            content : " #" counter(astuce) " - Carapuce"
          }
        }
        &:before {
          content : url("./images/carapuce.svg");
        }
      }
    }

    .gift-9 {
      &:before {
        content : url("./images/egg.svg");
      }
      &:hover {
        h2 {
          &:after {
            content : " #" counter(astuce) " - Psykokwak"
          }
        }
        &:before {
          content : url("./images/psykokwak.svg");
        }
      }
    }
  }








  // FORM POKECENTER
  .center {
    width: 50%;
    margin: 0 auto;
    display: block;
    border: 2px solid $red-color;
    border-radius: 10px;

    form {

      h2 {
        padding: 35px 0px 35px 0px;
        background-color: $red-color;
        color: $light;
        text-align: center;
        border-bottom: 2px solid $dark;
        margin-bottom: 35px;
      }

      p {
        padding: 0px 35px 35px 35px;
        text-align: justify;
        color: $dark;
      }

      .toggler-wrapper.style-14.last {
        margin-bottom: 50px;
      }

      .toggler-wrapper.style-14 {
        display: flex;
        width: auto;
        height: auto;
        padding: 15px 0px 15px 0px;

        label {
          font-weight: 800;
        }

        input[type=checkbox] {
          height: 20px;
          position: absolute;
          opacity: 1;
          left: 0;
          right: 0;
          opacity: 0;
          z-index: 1;
          &:disabled {
            + {
              .label-checkbox {
                &:before {
                  opacity: 0.4;
                }
                &:after {
                  background-color: $red-color;
                  opacity: 0.4;
                  left: 25px;
                }
              }
            }
          }
          &:checked {
            + {
              .label-checkbox {
                &:after {
                  background-color: $red-color;
                  left: 25px;
                }
              }
            }
          }
        }

        .label-checkbox {
          width: auto;
          display: inline-block;
          opacity: 1;
          padding-left: 85px;
          display: flex;
          align-items: center;
          &:after {
            margin: 12px 0px 0px 26%;
            width: 12.5px;
            height: 12.5px;
            left: 6.25px;
            transform: translateY(-50%);
            border-radius: 50%;
            content: '';
            position: absolute;
            background-color: $dark;
            transition: 0.3S all ease-in-out;
          }
          &:before {
            content: '';
            margin-left: 26%;
            background-color: $light;
            border: 2px solid $red-color;
            position: absolute;
            border-radius: 100px;
            left: 0;
            width: 45px;
            height: 25px;
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;
          }
        }
      }

      .emergency {
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.28);
        border: 2px solid $red-color;
        width: 550px;
        margin: 0 auto;
        display: block;
        border-radius: 10px;
        padding: 25px;
        text-align: center;
        p {
          color: $dark;
          text-align: center;
          &:before {
            content: '⚠️';
            display: block;
            font-size: 32px;
            margin-bottom: 15px;
          }
          span {
            font-weight: 800;
          }
        }
      }
    }


    .submit {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        margin: 35px 0px 35px 0px;
        padding: 10px 35px 10px 35px;
        position: relative;
        color: $dark;
        text-decoration: none;
        display: block;
        text-decoration: none;
        border: 2px solid $red-color;
        font-weight: 800;
        text-transform: uppercase;
        overflow: hidden;
        &:hover {
          transition: 1s all ease;
          cursor: pointer;
          color: $light;
          &:before {
            height: 300%;
          }
        }
        &:before {
          background: $red-color;
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: -1;
          height: 0px;
          transition: all 0.6s ease;
          width: 120%;
          transform: translate(-50%, -50%) rotate(25deg);
        }
      }
    }
  }

  // POKEBALL

  .child-to-body {
    width: 300px;
    height: 400px;
    flex-shrink: 0;
    .poke_box {
      position: absolute;
      top: 40%;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      .pokeball {
        position: relative;
        width: 150px;
        height: 150px;
        background: $light;
        border: 5px solid #000;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: inset -10px 10px 0 10px #ccc;
        animation: shake 1.25s cubic-bezier(.36,.07,.19,.97) infinite;
        animation-play-state: paused;
        &:before {
          content:"";
          position: absolute;
          background: $red-color;
          width: 100%;
          height: 50%;
        }
        &::after {
          content:"";
          position: absolute;
          top: calc(50% - 5px);
          width: 100%;
          height: 10px;
          background: #000;
        }
        &:hover {
          animation-play-state: running;
          .pokeball__button {
            cursor: pointer;
            animation-play-state: running;
          }
        }
        .pokeball__button {
          position: absolute;
          width: 30px;
          height: 30px;
          border: 4px solid #7f8c8d;
          border-radius: 50%;
          top: calc(50% - 15px);
          left: calc(50% - 15px);
          box-shadow: 0 0 0 7px $dark;
          background: $light;
          z-index: 10;
          animation: blink .5s alternate infinite;
          animation-play-state: paused;
        }
      }
    }
  }
}

// Keyframes

@keyframes shake {
	0% {
		transform: translate(0, 0) rotate(0);
	}
	20% {
		transform: translate(-10px, 0) rotate(-20deg);
	}
	30% {
		transform: translate(10px, 0) rotate(20deg);
	}
	50% {
		transform: translate(-10px, 0) rotate(-10deg);
	}
	60% {
		transform: translate(10px, 0) rotate(10deg);
	}
	100% {
		transform: translate(0, 0) rotate(0);
	}
}

@keyframes blink {
  from { background: #eee;}
  to { background: #e74c3c; }
}